$primary-color: #1EAEDB;
$primary-color-dimmed: #538493;
#modal-dismiss {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(1px);
}
.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  &.hide {
    display: none;
  }
  .modal {
    z-index: 3;
    border-radius: 10px;
    padding: 10px;
    background-color: #111;
    color: $primary-color;
    border: 1px solid $primary-color;
    &-card {
      margin: auto;
      width: 200px;
      max-height: 80vh;
      &.hide {
        display: none;
      }
    }
  }
}